SF_INSTANCE_URL=https://yourorg.my.salesforce.com
SF_CLIENT_ID=your_client_id
SF_CLIENT_SECRET=your_client_secret
SF_EXTERNAL_ID_FIELD=Kheops_External_ID__c
SF_SYNC_FIELD=Status
SF_API_VERSION=v67.0
SF_RECORD_TYPE_DEVELOPER_NAME=
